html {
	height: 100%;
	font-size: 20px;
}

body {
	background-image: repeating-linear-gradient(45deg, #434C5E 10%, #2E3440 95%);
}

.container {
	max-width: 1000px;
	margin: auto;
}

nav {
	display: flex;
	background: #4C566A;
	position: absolute;
	margin: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
}

#nav-button {
	display: none;
	width: 10vw;
	text-decoration: none;
	border: none;
	background-color: yellow;
}

#nav-button:hover {
	background-color: pink;
	border: none;
}

#nav-button:active {
	background-color: cyan;
	border: none;
}

#nav-dropdown-links {
	display: none;
	background-color: #2F0040;
}

#nav-dropdown-links a{
	color: #D8DEE9;
	text-decoration: none;
	display: block;
	padding: 10px;
}

#nav-dropdown-links a:hover{
	background-color: #1c1c1c;
	color: lightgreen;
}

#nav-dropdown-links ul{
	list-style-type: none;
	margin-left:-40px;
}

#nav-dropdown-links li {
	/*font-family: Lobster; */
}

#nav-links a {
	text-decoration: none;
	color: white;
	padding: 20px;
	font-family: Ubuntu;
}

#nav-links a:hover {
	background-color: #3B4252;
	color: #D8DEE9;

}

#nav-links li {
	list-style-type: none;
	display: inline-block;
}

#nav-brand {
	font-size: 30px;
	padding: 10px;
	font-family: Lobster, monospace;
}

#nav-brand a {
	text-decoration: none;
	color: #ACE97F;
}

#nav-brand a:hover {
	text-decoration: none;
	color: #FF7D54;
}

#nav-fill {
	margin-right: auto;
}

/* Handle For Phones and Small Screens */

@media screen and (max-width :950px) {
	.container {
		max-width: 800px;
		margin: auto;
	}

	#nav-button {
		display: block;
	}

	#nav a {
	}
	
	#nav-links li {
		display: none;
	}

	#nav-brand {
		padding: 10px;
		/* font-family: Lobster, monospace; */
	}

	#nav-brand-text {
		font-size: 25px;
	}
}


.mainBox {
	background-color: #4C566A;
	color: white;
	margin: 60px 20px -50px 20px;
	border-radius: 10px;
	box-shadow: 0px 3px 100px rgba(10, 10, 10, 0.2);
	padding: 30px;
}

.mainBoxText {
	font-family: Rajdhani;
	margin: 0;
}

.mainBoxSectionText {
	font-family: Rajdhani;
	font-size: 20px;
}

.stylishLine {
	background-color: #D08770;
	height: 2px;
}

.animateBox1 {

	background-color: orange;
	height: 50px;
	width: 50px;
	animation-name: moveBox1;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-fill-mode: reverse;
}


.animateBox2 {
	background-color: orange;
	height: 50px;
	width: 50px;
	margin-top: 2px;
	animation-name: moveBox2;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-fill-mode: reverse;
}

.animateBox3 {
	background-color: orange;
	height: 50px;
	width: 50px;
	margin-top: 2px;
	animation-name: moveBox3;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-fill-mode: reverse;
}


.animateBox4 {
	background-color: orange;
	height: 50px;
	width: 50px;
	margin-top: 2px;
	animation-name: moveBox4;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-fill-mode: reverse;
}

@keyframes moveBox1 {

	0% {
		background-color: orange;
	}

	20% {
		transform: rotateX(90deg);
		background-color: cyan;
	}

	40% {
		transform: rotateY(90deg);
		background-color: lightgreen;
	}

	60% {
		transform: rotateX(90deg);
		background-color: pink;

	}

	80% {
		transform: rotate(90deg);
		background-color: yellow;


	}

	100% {
		transform: rotate(90deg);
		background-color: yellow;
	}
}

@keyframes moveBox2 {

	0% {
		background-color: yellow;
	}

	20% {
		transform: rotateX(180deg);
		background-color: cyan;
	}

	40% {
		transform: rotateY(0deg);
		background-color: lightgreen;
	}

	60% {
		transform: rotateZ(360deg);
		background-color: pink;

	}

	80% {
		transform: rotate(90deg);
		background-color: yellow;


	}

	100% {
		transform: rotate(90deg);
		background-color: yellow;
	}
}

@keyframes moveBox3 {

	0% {
		background-color: pink;
	}

	20% {
		transform: rotateY(360deg);
		background-color: cyan;
	}

	40% {
		transform: rotateZ(460deg);
		background-color: lightgreen;
	}

	60% {
		transform: rotateX(-720deg);
		background-color: pink;

	}

	80% {
		transform: rotate(360deg);
		background-color: yellow;


	}

	100% {
		transform: rotate(0deg);
		background-color: yellow;
	}
}

@keyframes moveBox4 {

	0% {
		background-color: cyan;
	}

	20% {
		transform: rotateZ(90deg);
		background-color: purple;
	}

	40% {
		transform: rotateZ(-500deg);
		background-color: lightgreen;
	}

	60% {
		transform: rotateY(-500deg);
		background-color: pink;

	}

	80% {
		transform: rotateZ(-360deg);
		background-color: yellow;
	}

	100% {
		transform: rotate(820deg);
		background-color: lightblue;
	}
}

.webBox {
	background-color: lightblue;
	padding: 20px;
	margin: 60px 20px 0px 20px;
	border-radius: 10px;
}

#novelTable {
	padding: 10px;
	width: 100%;
	border-collapse: collapse;
}

#novelTable td {
	padding: 20px;
}

